body, html {
    background-color: #151719 !important;
}

.title-container {
    margin-top: 5%;
    background-color: #151719;
    display: grid;
    justify-items: center;
}

.title {
    font-size: 800%;
    white-space: none;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    opacity: 1;
}

.title-divider {
    border-top: 2px solid  #25282c ; /* Black color */
    width: 50%; /* Adjust width as necessary */
}

.glow-border {
    -webkit-text-stroke: 2px #008B8B; /* Width and color of the text border */
    color: white; /* Make the text transparent */
    text-shadow: 0 0 10px #008B8B; /* Add a shadow to create the glowing effect */
}


.intro-container {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.intro-header {
    color: white;
    font-size: 400%;
}


.intro-paragraph {
    color: white;
    font-size: 100%;
}

.img-container {
    padding-left: 20%;
}

.intro-img {
    max-width: 100%; /* Restrict the maximum width */
    height: auto; /* Allow height to adjust proportionally */
    display: block;
    width: 35vw; /* Set a specific width */
    height: 50vh;
}


.intro-img {
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    position: relative; /* Ensure proper stacking context */
}

.intro-img:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 0 15px #008B8B;
    outline: 2px solid #008B8B;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.image-carousel {
    margin-left: 10%;
    margin-right: 10%;
}

.dark-mode .carousel-indicators li {
    background-color: #fff;
  }

.dark-mode .carousel-control-prev-icon,
.dark-mode .carousel-control-next-icon {
    filter: invert(1);
}



.autonomous-heading-container {
    text-align: center;
  }

.autonomous-header {
    padding-top: 2%;
    font-size: 300%;
    font-weight: bold;
    color: #fff; /* White color */
}

  /* Divider style */
.divider {
    border-top: 2px solid  #25282c ; /* Black color */
    margin: 20px auto; /* Centering the divider */
    width: 50%; /* Adjust width as necessary */
}

.autonomous-description {
    color: rgb(156, 169, 179);
    padding-top: 1%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

.prev-button {
    padding-right: 12% !important;
}

.next-button {
    padding-left: 12% !important;
}

.autonomous-container {
    margin-bottom: 1%;
}


.card-body {
    background-color: #2f3135; 
}

.num-note {
    font-size: 900%;
}
.card-text {
    color: white;
}

.custom-card {
    margin: 2%;
    background-color: #f8f9fa; /* Light gray background */
    box-shadow: 0px 4px 8px #008B8B; /* Drop shadow */
}

.num-note {
    color: white;
    font-size: 900%;
    flex: 1; /* Fill remaining space */
    padding: 20px; /* Adjust padding as needed */
}

.note-autos-text {
    padding-left: 20px; /* Adjust padding as needed */
}

.note-text, .autos-text {
    margin: 0; /* Remove default margin */
    font-size: 200%; /* Adjust font size as needed */
}

.two-note-gif {
    height: 40vh;
    width: 40vh;
}

.three-note-gif {
    height: 30vh;
    width: 30vh;
}

.four-note-gif {
    height: 50vh;
    width: 50vh;
}

.five-note-gif {
    height: 50vh;
    width: 50vh;
}


.gif-container {
    padding-left: 5%;
}


.teleop-heading-container {
    text-align: center;
  }

.teleop-header {
    padding-top: 2%;
    font-size: 300%;
    font-weight: bold;
    color: #fff; /* White color */
}


.teleop-media-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 20px; /* Adjust as needed */
}
.teleop-description {
    color: rgb(156, 169, 179);
    padding-top: 1%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}

.teleop-video {
    height: 50vh;
    width: 40vw;
}

.endgame-heading-container {
    text-align: center;
  }

.endgame-header {
    padding-top: 2%;
    font-size: 300%;
    font-weight: bold;
    color: #fff; /* White color */
}

.endgame-description {
    color: rgb(156, 169, 179);
    padding-top: 1%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
}


.endgame-media-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.media-item {
    width: 20vw; /* Adjust width as needed */
    height: 60vh; /* Maintain aspect ratio */
    padding-right: 2%;
    border: 1px solid transparent; /* Ensure no border */
    object-fit: cover; /* Maintain aspect ratio without stretching */
}


.footer {
    background-color: #c2b5a8;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    margin-top: 5%;
  }



.ev-robotics-footer {
    font-weight: bolder;
    font-size: 90%;
}

.evhs-footer {

    font-weight: bold;
    font-size: 75%;
    margin-bottom: 0;
}

.address-footer {

    font-weight: bold;
    font-size: 75%;
    margin-bottom: 0;
}

.city-state-zip-footer {
    font-weight: bolder;
    font-size: 75%;

}

.email-footer {
    font-weight: bolder;
    font-size: 75%;
    color: #008B8B;

}