<div class="container">

    <!-- <div class="page-header" id="homeSection-about">
      <h1>TESTING</h1>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>EVHS Robotics is located in San Jose, CA and is dedicated to inspiring students in their high school to discover and foster their passion for STEM through practical and hands on experience by competing in FIRST Robotics. </p>
      </div>
    </div> -->
  
    <div class="page-header" id="homeSection-history">
      <h1>Who Are We?</h1>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>Created in 2020 during the rampant outbreak of COVID-19, the team's biggest obstacle was being able to come together and work together to create a robot. Although we weren't able to compete in our first year, we were able to connect with our community in many different ways such as workshops and fundraisers. In 2021, we've continued to reach out to our community and we've not only enabled the team to gain hands-on experience in building a robot but also how to work together and problem solve. (add more + make better)</p>
      </div>
    </div>
  
    <div class="page-header" id="homeSection-photos">
      <h1>PHOTOS</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="assets/kimages/1.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="assets/kimages/2.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="assets/kimages/3.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="assets/kimages/4.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="assets/kimages/5.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="assets/kimages/6.jpg" class="img-responsive">
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row card-row">
          <div class="col-md-10 col-md-offset-1">
            <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
              <div class="mdl-card__supporting-text card-full-width card-text-black">
                <h3>Contact Us</h3>
                <p>
                  Shoot us an email at <code>evhsrobotics2854@gmail.com</code> and take a look at our <a href="https://docs.google.com/document/d/1ZN5kMV7TfFBIRQ9a6xsc8pB-pp988blJTr7UGGMnJv8">sponsorship information</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="page-header" id="homeSection-leadership">
      <h1>Leads</h1>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Hitiksha Bansal</h6>
            <p class="text-center">
              Co-Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Trisha Maturi</h6>
            <p class="text-center">
              Co-Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Daphne Dao</h6>
            <p class="text-center">
              Co-Lead
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="page-header" id="homeSection-leadership">
        <h2>FRC Leads</h2>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Kevin Palani</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Kevin Zheng</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Dev Sharma</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Matt</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">John</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div> -->
  
  </div>
  