<style>
  @font-face {
    font-family: Revision_Thin;
    src: url("assets/Reversion_Thin.ttf");
  }
</style>

<div class="min-header-backgroud">
  <div class="jumbotron reset-padding main-header-alpha">
    <div class="main-header-nav-spacer"></div>
    <div class="vcenter-parent">
      <div class="container vcenter-child">
        <div class="text-center main-header-text">
          <a href="/#/blog" style="text-decoration: none !important;">
            <img src="assets/MinimalLogoWeb.png" width="64px" height="64px">
            <div style = "height:64px; display:inline-block; text-align:left; vertical-align: middle;">
              <h5 style = "font-family: Revision_Thin; color: white">EVHS</h5>
              <h5 style = "font-family: Revision_Thin; color: white">ROBOTICS</h5>
            </div>
          </a>
          <h5></h5>
          <br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
