<style>
  html { font-size: 22px; }

.card {
  background-size: cover;
  background-color: rgba(138, 191, 174, .50);
  /* background-image: url("assets/PrototypesGroup.jpeg"); */
  color: rgb(213, 242, 233);
  height: 11rem;
}

.cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

.colOverlay{
  background: rgba(21, 158, 160, 0.495);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .cards { grid-template-columns: repeat(3, 1fr); }
}

.titleOfCard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

</style>

<div class = "container">
  <div class="page-header">
    <h1>TEAMS</h1>
  </div>

  <div class="cards">
    <a ng-link = "prototypes">
      <div class="card" style = "background-image: url('assets/PrototypesGroup.jpeg')">
          <div class= "colOverlay">
            <h1 class = "titleOfCard">PROTOTYPES</h1>
          </div>
      </div>
    </a>
    <a ng-link = "kronos">
      <div class="card" style = "">
          <div class= "colOverlay">
            <h1 class = "titleOfCard">KRONOS</h1>
          </div>
      </div>
    </a>
    <a ng-link = "artemis">
      <div class="card" style = "">
          <div class= "colOverlay">
            <h1 class = "titleOfCard">ARTEMIS</h1>
          </div>
      </div>
    </a>
    <a ng-link = "athena">
      <div class="card" style = "">
          <div class= "colOverlay">
            <h1 class = "titleOfCard">ATHENA</h1>
          </div>
      </div>
    </a>
  </div>



</div>
