<div class="container">

  <div class="page-header" id="homeSection-about">
    <h1>WHO ARE WE?</h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p style = "font-size: 20px; color: rgb(80, 80, 80)">EVHS Robotics is located in San Jose, CA and is dedicated to inspiring students in their high school to discover and foster their passion for STEM through practical and hands on experience by competing in FIRST Robotics. </p>
    </div>
  </div>


  <div class="page-header" id="homeSection-photos">
    <h1>PHOTOS</h1>
  </div>
  <div class="row" style = "margin: auto">
    <div class="col-sm-4 col-xs-6 card-row" style = "width: 500px">
      <img src="assets/Banner2021.jpg" class="img-responsive">
    </div>
    <div class="col-sm-4 col-xs-6 card-row" style = "width: 500px">
      <img src="assets/Banner2020.jpeg" class="img-responsive">
    </div>
  </div>

  <div class="page-header" id="homeSection-sponsor">
    <h1>SPONSORS</h1>
  </div>
  <div class="row">
    <div class="col-sm-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <a href="http://www.lockheedmartin.com/" target="_blank">
          <img src="assets/Sponsors/LockheedMartin.jpg" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="col-sm-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <a href="http://www.intuitivesurgical.com/" target="_blank">
          <img src="assets/Sponsors/IntuitiveSurgical.jpg" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="col-sm-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <a href="https://www.qualcomm.com/" target="_blank">
          <img src="assets/Sponsors/Qualcomm.jpg" class="img-responsive">
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <a href="http://www.walmart.com/" target="_blank">
          <img src="assets/Sponsors/Walmart.jpg" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="col-sm-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <a href="https://www.google.com/" target="_blank">
          <img src="assets/Sponsors/google.png" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="col-sm-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <a href="http://jpmwtulsa.com/" target="_blank">
          <img src="assets/Sponsors/jpMetal.png" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-2 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <a href="http://www.venturesfoundation.org/" target="_blank">
          <img src="assets/Sponsors/pvfoundation.png" class="img-responsive">
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row card-row">
        <div class="col-md-10 col-md-offset-1">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
              <h3>WANT TO SPONSOR US?</h3>
              <p>
                Shoot us an email at <code>evhsrobotics2854@gmail.com</code> and take a look at our <a href="https://docs.google.com/document/d/1ZN5kMV7TfFBIRQ9a6xsc8pB-pp988blJTr7UGGMnJv8">sponsorship information</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="page-header" id="homeSection-leadership">
    <h1>THE OFFICERS</h1>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <img src="assets/Officers/AzfarSyed.jpeg" class="img-circle img-responsive">
        <div class="mdl-card__supporting-text card-full-width card-text-black">
          <h6 class="text-center">Azfar Syed</h6>
          <p class="text-center">
            Co-President
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <img src="assets/Officers/Sourish.jpg" class="img-circle img-responsive" style = "aspect-ratio: 1;object-fit: cover;">
        <div class="mdl-card__supporting-text card-full-width card-text-black">
          <h6 class="text-center">Sourish Saswade</h6>
          <p class="text-center">
            Co - President
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <img src="assets/Officers/YasminHusain.jpg" class="img-circle img-responsive">
        <div class="mdl-card__supporting-text card-full-width card-text-black">
          <h6 class="text-center">Yasmin Husain</h6>
          <p class="text-center">
            Vice President
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <img src="assets/Officers/KshitijTeotia.jpeg" class="img-circle img-responsive">
        <div class="mdl-card__supporting-text card-full-width card-text-black">
          <h6 class="text-center">Kshitij Teotia</h6>
          <p class="text-center">
            Secretary
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <img src="assets/Officers/tiffany.jpg" class="img-circle img-responsive" style = "aspect-ratio: 1;object-fit: cover;">
        <div class="mdl-card__supporting-text card-full-width card-text-black">
          <h6 class="text-center">Tiffany Dang</h6>
          <p class="text-center">
            Treasurer
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <img src="assets/Officers/priyanka.jpeg" class="img-circle img-responsive" style = "aspect-ratio: 1;object-fit: cover;">
        <div class="mdl-card__supporting-text card-full-width card-text-black">
          <h6 class="text-center">Priyanka Karunakaran</h6>
          <p class="text-center">
            PR
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="page-header" id="homeSection-leadership">
      <h2>FRC Leads</h2>
  </div>
  <div class="row">
    <div class="col-md-2 col-xs-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
        <div class="mdl-card__supporting-text card-full-width card-text-black">
          <h6 class="text-center">Kevin Palani</h6>
          <p class="text-center">
            Lead
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
        <div class="mdl-card__supporting-text card-full-width card-text-black">
          <h6 class="text-center">Kevin Zheng</h6>
          <p class="text-center">
            Lead
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
        <div class="mdl-card__supporting-text card-full-width card-text-black">
          <h6 class="text-center">Dev Sharma</h6>
          <p class="text-center">
            Lead
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
        <div class="mdl-card__supporting-text card-full-width card-text-black">
          <h6 class="text-center">Matt</h6>
          <p class="text-center">
            Lead
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-xs-4 card-row">
      <div class="mdl-card card-full-width card-height-resize card-row">
        <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
        <div class="mdl-card__supporting-text card-full-width card-text-black">
          <h6 class="text-center">John</h6>
          <p class="text-center">
            Lead
          </p>
        </div>
      </div>
    </div> -->

</div>
