<div class="container-fluid">
  <div class="well well-lg">
    <div class="text-center">
      <address>
        <h5>
          <strong>EVHS Robotics</strong>
        </h5>
        <h6>
          Evergreen Valley High School<br>
          3300 Quimby Road<br>
          San Jose CA 95148<br>
          <br>
          <a href="mailto:#">evhsrobotics2854@gmail.com</a>
        </h6>
      </address>
      <p style="height: 7px;">Proudly curated by Joanne, Cathleen, Kevin, and Kshitij.</p>
    </div>
  </div>
</div>
