<div class="container">

    <!-- <div class="page-header" id="homeSection-about">
      <h1>TESTING</h1>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>EVHS Robotics is located in San Jose, CA and is dedicated to inspiring students in their high school to discover and foster their passion for STEM through practical and hands on experience by competing in FIRST Robotics. </p>
      </div>
    </div> -->
  
    <div class="page-header" id="homeSection-history">
      <h1>FTC - Artemis</h1>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>Founded in 2009 with limited resources and no experience whatsoever, the Prototypes tackled the challenge and took their robot to the Sacramento Regionals. Against all odds, the Prototypes were given the “Rookie Inspiration Award” and attained the highest rookie seed. The Prototypes experienced impediments throughout the years through rough transitions in leadership and lost knowledge. In 2013, the Prototypes were bestowed with the “Judge’s Award” due to their creative usage of materials under a limited budget. Now, the Prototypes continue to foster excellence by exposing their campus to the ingenuity of FIRST. In 2018, the Prototypes won the “Engineering Inspiration Award” at the San Francisco Valley Regional alongside a ticket to Worlds. Hungry for more, they persevered through the 7th seed to the 2nd seed at the offseason CalGames tournament and won. </p>
      </div>
    </div>
  
    <div class="page-header" id="homeSection-photos">
      <h1>PHOTOS</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="https://c2.staticflickr.com/6/5347/17193825111_7a74afb6d1_b.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="https://c1.staticflickr.com/9/8815/17194347915_069357f10c_b.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="https://c2.staticflickr.com/8/7607/17008121879_8ec3d84ce2_b.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="https://c2.staticflickr.com/8/7618/16986806007_4fc72fd524_b.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="https://c1.staticflickr.com/9/8725/17006625748_bc6be739fd_b.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="https://c2.staticflickr.com/8/7689/17193649851_59dc3b2a1b_b.jpg" class="img-responsive">
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row card-row">
          <div class="col-md-10 col-md-offset-1">
            <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
              <div class="mdl-card__supporting-text card-full-width card-text-black">
                <h3>Contact Us</h3>
                <p>
                  Shoot us an email at <code>evhsrobotics2854@gmail.com</code> and take a look at our <a href="https://docs.google.com/document/d/1ZN5kMV7TfFBIRQ9a6xsc8pB-pp988blJTr7UGGMnJv8">sponsorship information</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="page-header" id="homeSection-leadership">
      <h1>OFFICERS</h1>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/adi.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Aditya Garg</h6>
            <p class="text-center">
              Co-President
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/richard.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Richard Huang</h6>
            <p class="text-center">
              Co - President
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/rishi.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Rishi Parikh</h6>
            <p class="text-center">
              Vice President
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Manav Korlipara</h6>
            <p class="text-center">
              Secretary
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Zara Hasan</h6>
            <p class="text-center">
              Treasurer
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/rushil.jpeg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Rushil Srivastava</h6>
            <p class="text-center">
              PR
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="page-header" id="homeSection-leadership">
        <h2>FRC Leads</h2>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Kevin Palani</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Kevin Zheng</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Dev Sharma</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Matt</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">John</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div> -->
  
  </div>
  