<div class="container">

    <!-- <div class="page-header" id="homeSection-about">
      <h1>TESTING</h1>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>EVHS Robotics is located in San Jose, CA and is dedicated to inspiring students in their high school to discover and foster their passion for STEM through practical and hands on experience by competing in FIRST Robotics. </p>
      </div>
    </div> -->
  
    <div class="page-header" id="homeSection-history">
      <h1>Who Are We</h1>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p>In 2015, our team started with only four girls who noticed the gender disparity in the school’s robotics club and the STEM field. Today, our team and the amount of girls in our club has grown significantly. Named after the greek goddess Athena for her strength and intelligence, our goal is to inspire and include the underrepresented in STEM, especially girls, to pursue these fields through FIRST! In addition to building an amazing robot and improving our technical skills, our goals are to:
          Build teamwork, time management, and problem solving abilities, 
          Provide an introduction of STEM and FIRST to the community, 
          Recruit and introduce members to the joys of robotics
          </p>
      </div>
    </div>
  
    <div class="page-header" id="homeSection-photos">
      <h1>PHOTOS</h1>
    </div>
    <div class="row">
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="assets/atimages/1.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="assets/atimages/2.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="assets/atimages/3.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="assets/atimages/4.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="assets/atimages/5.jpg" class="img-responsive">
      </div>
      <div class="col-sm-4 col-xs-6 card-row">
        <img src="assets/atimages/6.jpg" class="img-responsive">
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row card-row">
          <div class="col-md-10 col-md-offset-1">
            <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
              <div class="mdl-card__supporting-text card-full-width card-text-black">
                <h3>Contact Us</h3>
                <p>
                  Shoot us an email at <code>evhsrobotics2854@gmail.com</code> and take a look at our <a href="https://docs.google.com/document/d/1ZN5kMV7TfFBIRQ9a6xsc8pB-pp988blJTr7UGGMnJv8">sponsorship information</a>.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
    <div class="page-header" id="homeSection-leadership">
      <h1>OFFICERS</h1>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/YasminHusain.jpg" class="img-circle img-responsive" style = "aspect-ratio: 1;object-fit: cover;">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Yasmin Husain</h6>
            <p class="text-center">
              Co-Captain
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/KavyaRavi.jpeg" class="img-circle img-responsive" style = "aspect-ratio: 1;object-fit: cover;">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Kavya Ravi</h6>
            <p class="text-center">
              Co-Captain
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/TanviDeshpande.jpeg" class="img-circle img-responsive" style = "aspect-ratio: 1;object-fit: cover;">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Tanvi Deshpande</h6>
            <p class="text-center">
              Secretary
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/ChetanaMarupeddi.jpeg" class="img-circle img-responsive" style = "aspect-ratio: 1;object-fit: cover;">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Chetana Marupeddi</h6>
            <p class="text-center">
              Treasurer
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/Shrivalli.jpeg" class="img-circle img-responsive" style = "aspect-ratio: 1;object-fit: cover;">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Shrivalli Addepally</h6>
            <p class="text-center">
              Programming Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/AvaDoan.jpeg" class="img-circle img-responsive" style = "aspect-ratio: 1;object-fit: cover;">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Ava Doan</h6>
            <p class="text-center">
              Mechanical Lead
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="page-header" id="homeSection-leadership">
        <h2>FRC Leads</h2>
    </div>
    <div class="row">
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Kevin Palani</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Kevin Zheng</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Dev Sharma</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">Matt</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-xs-4 card-row">
        <div class="mdl-card card-full-width card-height-resize card-row">
          <img src="assets/Officers/placeholder.jpg" class="img-circle img-responsive">
          <div class="mdl-card__supporting-text card-full-width card-text-black">
            <h6 class="text-center">John</h6>
            <p class="text-center">
              Lead
            </p>
          </div>
        </div>
      </div> -->
  
  </div>
  